<h1>Edit this review for <%= @restaurant.name %></h1>
<%= simple_form_for [@restaurant, @review], url: admin_restaurant_review_path(@restaurant, @review) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (0..5) %>
  <%= f.submit 'Add' %>
<% end %>
